.header {
    text-align: center;
    color: aqua;
    background-color: rgb(26, 20, 20);
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.topmenu {
    background-color: brown;
    color: aliceblue;
    padding: 12px;
    border: 1px;
    border-style: outset;
    border-color: black;
    width: 10%;
    text-align: center;
}

.topmenu .link {
    color: aliceblue;
    text-decoration: none;
}

.topmenu-end {
    background-color: black;
    width: 60%;
}

.iframe-container {
    width: 100%;
    height: 100vh;
}

.iframe {
    width: 100%;
    height: 100vh;
    background-color: black;
    border: none;
}

.opening-hours {
    margin: 20px;
}

.opening-hours table {
    width: 100%;
    border-collapse: collapse;
}

.opening-hours th,
.opening-hours td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.opening-hours th {
    background-color: #f2f2f2;
}

.opening-hours th:first-child,
.opening-hours td:first-child {
    text-align: left;
}